#profile-wrapper
    figure#profile-image.image.is-128x128.has-background-grey-lighter
        img.is-rounded.is-invisible(alt="User profile picture")
    p#user-greeting.has-text-centered.is-invisible
        | Hello, 
        span#profile-name Anonymous