doctype html
html.has-background-white-bis(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" rel="stylesheet" type="text/css")
        link(href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet")
        link(href="assets/css/style.css" rel="stylesheet" type="text/css")
        title Line LIFF Experimenting 
    body
        include includes/warn-message.pug 

        #app.pos-relative

            include includes/user-profile.pug 
            include includes/control-buttons.pug 

            // Footer 
            footer#footer.footer

                include includes/social.pug 
                // include includes/initializer-modal.pug 

            include includes/response-notification.pug 

        script(src="https://d.line-scdn.net/liff/1.0/sdk.js")
        script(src="assets/js/index.js")