#profile-wrapper
    figure#profile-image.image.is-128x128.has-background-grey-lighter
        img.is-rounded.is-invisible(alt="User profile picture")
    p.has-text-centered
        | Hello, 
        span#profile-name.is-invisible Anonymous